@import '../roboto/roboto.css';

body{
	font-family: "Roboto" !important;
}

.navbar.main.navbar-primary .navbar-form input{
	background-color: #CCE2E0 !important;
	color : #FFFFFF !important;
}

.navbar.main.navbar-primary .navbar-form .btn{
	background-color: #CCE2E0 !important;
	border-left: 1px solid #44486b !important;
	border-right: 1px solid  #44486b !important;
}

.navbar.main.navbar-primary .navbar-form .btn:hover{
	background-color: #03A199 !important;
}

.style_li{
	list-style-type: none !important;
}

.main, .main div, .main ul{
	background-color: #00AAA5 !important;
	border-color: #03A199 !important;
}

.nav li a:hover{
	background-color: #03A199 !important;
}

.fa-bars{
	color: #FFFFFF !important;
}

.fa-bars:hover{
	color : #03A199 !important;
}
.text_couleur{ 
	color : #FFFFFF !important;
}
.img_consigne{
	display: block !important;
    margin-left: 75px !important;
    max-width: 500px !important;
}
.discours{
	color: #CB4040 !important;
	font-size: 25px !important;
}
.image-c{
	margin-left: 75px !important;
}
.titre{
	color : #869ECB !important;
}
.titre1{
	color : #72AF46 !important;
}
.etape{
	margin-left: 75px !important;
	list-style-image: url('http://aide-agent.vivetic.com:8888/deliveroo/assets/images/list.png') !important;
}
.logo{
	margin-left: 250px !important;
	background-color: #F5F5F5;
}
.logo img{
	max-width: 50% !important;
	height: auto !important;	
}
.logo_brand{
	/*border: 2px solid yellow;*/
	position: fixed !important;
	width: 165px !important;
	height: 45px !important;
	color: black;
}
.logo_brand img{
	/*position: absolute !important;*/
	/*border: 2px solid red;*/
	width: 165px !important;
	height: 45px !important;
}
.etape-contenu{
	max-width: 100% !important;
	height: auto !important;
	overflow: hidden !important;
	word-wrap: break-word !important;
	margin-bottom: 15px !important;
}

.action-ok {	
	color : #0000FF !important;
}	
.action-ab {	
	color : #FF0000 !important;
}

.action-encours{
	color : #00AAA5 !important;
}
.action-btn{
	margin-left: 2px !important;
	margin-right: 2px !important;
}
.faire img{
	max-width: 5% !important;
	height: auto !important;
}
.question img{
	max-width: 5% !important;
	height: auto !important;
}
.dire img{
	max-width: 5% !important;
	height: auto !important;
}
.astuce img{
	max-width: 5% !important;
	height: auto !important;
}
.text_astuce{
	background-color: yellow;
}
.titre2{
	color : #FEA900 !important;
}
.image-g{
	margin-left: 100px;
}
.image-d{
	margin-right: 100px;
}
.box-generic{
	border : 1px solid #9BBDF4;
	border-radius: 3px;
}
#telbikerA_cp, #telbikerB_cp, #commandeA_cp, #commandeB_cp, #nomB_cp, #nomA_cp, #numB_cp, #numA_cp, #num1_cp, #num2_cp, #num3_cp, #num4_cp, #adresseA_cp, #adresseB_cp, #num_comP1_cp, #num_comP1_cp2, #tel_clientP1_cp, #tel_clientP1_cp2, #tel_clientP1_cp3, #tel_clientP1_cp4, #adresseliv_clientP1_cp, #adresseliv_clientP1_cp2, #adresseliv_clientP1_cp3, #adresseliv_clientP1_cp4, #tel_clientP1_cp5, #nom_clientP1_cp, #nom_clientP1_cp2, #tel_clientP1_cp6, #adressemail_clientP1_cp, #infocompl_clientP1_cp, #infocompl_clientP1_cp2, #nouv_infoP1_cp, #nom_bikerPro10_cp, #nom_bikerPro10_cp2, #nom_bikerPro9_cp, #nom_bikerPro9_cp2, #forfait_Pro9_cp, #note_Pro9_cp, #var_nom_biker_prcs8_cp, #var_num_comande_prcs8_cp, #var_note_prcs8, #var_reponse_biker_prcs10_cp, #var_reponse_biker_prcs11_cp, #note_pro14_cp, #note_pro15_cp, #note_pro16_cp{
	color: #CB4040;
}
.sous-etape{
	margin-left: 50px;
}
.numero{
	background-color: yellow;
	color: red;
}
.numero1{
	background-color: yellow;
	color: blue;
}
#var_reponse_biker_prcs10, #var_reponse_biker_prcs11{
	margin-left: 80px;
}
h5{
	text-align: center;
}
#content .content-heading{
	z-index: 9999;
	position: fixed;
	width: 100%;
}
#content .corp-info{
	margin-top: 100px;
}





.columns {
	margin-top: 125px;
    height: 450px;
    background-color: #CCE2E0;
    -webkit-border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    border-radius: 15px 15px 15px 15px;
    border:1px solid #F5F5F5;
}

.columns:hover {
    -webkit-transform:scale(1.05);
    -moz-transform:scale(1.05);
    -o-transform:scale(1.05);
    -ms-transform:scale(1.05);
    transform:scale(1.05);z-index:1;
    box-shadow:0 0 2px 1px rgba(0,0,0,0.1);
    -moz-box-shadow:0 0 2px 1px rgba(0,0,0,0.1);
    -webkit-box-shadow:0 0 2px 1px rgba(0,0,0,0.1);
}

.button {
	
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;

    background-color: #0FAAA4;
    margin-top: 100px;
    margin-left: 3px;
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
    height: 300px;
}

.titre_bouton{
	color: white;
    text-align: center;
    text-decoration: none;
    position: relative;
    padding-top: 100px;
    font-size: 18px;
    padding-left: 5px;
    padding-right: 5px;
    display:block;
    width:100%;
    height:100%;
}

.titre_bouton:active{
	text-decoration: none;
	color: red;
}

.titre_bouton:hover{
	text-decoration: none;
	color: black;	
}

.titre_bouton:focus{
 	text-decoration: none;
	color: #CCE2E0;		
}


.button2{
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;

    background-color: #0FAAA4;
    margin-top: 100px;
    margin-left: 3px;
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
    height: 300px;
}

.titre_contenu{
	position: absolute;
	display: block;
	width: 150px;
	height: 80px;
	text-align: center;
	margin-left: 3px;
	padding-top: 25px;
	color : black;
	font-size: 16px;
}




/****************** Page accueil personnaliser Timeline **********************/

.columns1 {
    height: 180px;
    width: 180px;
    background-color: #CCE2E0;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border:1px ridge #F5F5F5;
    z-index: 1;
}

.menu_arrondi1{
	margin-left: 150px;
	border : 2px solid white;
	z-index: 1;
}

.menu_arrondi2{
	margin-left: 50px;
	border : 2px solid white;
	z-index: 1;
}


.boule{
	position : relative;
	top : 125px;
	z-index: 1;
}

.columns1 p{
	color : black;
	text-align: center;
	margin-top: 60px;
	font-size: 30px;
	z-index: 1;
}

.tm_fleche hr{
	border : 1px dotted black;
	position : relative;
	top : 10px;
	z-index: 0;
}

.tm_bout_fleche1{
	position:absolute;
	left:150px;
	top:78px; 
     /* taille */  
     height:0;
     width:0; 
     
     /* les bordures */
     border-left:10px solid black;
     border-bottom:8px solid transparent;
     border-top:8px solid transparent;
}

.tm_bout_fleche2{
	position:absolute;
	left:50px;
	top:78px;  
     /* taille */  
     height:0;
     width:0; 
     
     /* les bordures */
     border-left:10px solid black;
     border-bottom:8px solid transparent;
     border-top:8px solid transparent;
}


.tm_bout_fleche3{
	position:absolute;
	right: 3px;
	top:78px;  
     /* taille */  
     height:0;
     width:0; 
     
     /* les bordures */
     border-left:10px solid black;
     border-bottom:8px solid transparent;
     border-top:8px solid transparent;
}

.bike{
	position : relative;
	top : 160px;
}

.bike img{
	width : 30%;
}

.cat0{
	width : 250px;
	height : 50px;
	position : relative;
	bottom : -25px;
	left : 95px;
	font-size: 14px;
}
.cat1{
	width : 250px;
	height : 50px;
	position : relative;
	left : 320px;
	font-size: 14px;
}
.cat2{
	width : 250px;
	height : 50px;
	position : relative;
	left : 549px;
	top : 120px;
	font-size: 14px;
}
.cat3{
	width : 250px;
	height : 50px;
	position : relative;
	left : 335px;
	top : 120px;
	font-size: 14px;
}
.cat4{
	width : 250px;
	height : 50px;
	position : relative;
	left : 135px;
	font-size: 14px;
}

.menu_ds{
	position : relative;
	top : 150px;
	text-align: center;
	z-index: 3;
}

.cat0 a{
	display : block;
	width : 250px;
	height : 50px;
	padding-top: 15px;
	color : white;
	background-color: #00AAA5;

	-webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    border:1px solid black;
}

.cat1 a{
	display : block;
	width : 250px;
	height : 50px;
	padding-top: 15px;
	color : white;
	background-color: #00AAA5;

	-webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    border:1px solid black;
}

.cat2 a{
	display : block;
	width : 250px;
	height : 50px;
	padding-top: 15px;
	color : white;
	background-color: #00AAA5;

	-webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    border:1px solid black;
}

.cat3 a{
	display : block;
	width : 250px;
	height : 50px;
	padding-top: 15px;
	color : white;
	background-color: #00AAA5;

	-webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    border:1px solid black;
}

.cat4 a{
	display : block;
	width : 250px;
	height : 50px;
	padding-top: 15px;
	color : white;
	background-color: #00AAA5;

	-webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    border:1px solid black;
}


.cat0 a:hover{
	text-decoration: none;
	color : black;
	background-color: #CCE2E0;

	-webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    border:1px outset white;
}

.cat1 a:hover{
	text-decoration: none;
	color : black;
	background-color: #CCE2E0;

	-webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    border:1px outset white;
}

.cat2 a:hover{
	text-decoration: none;
	color : black;
	background-color: #CCE2E0;

	-webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    border:1px outset white;
}

.cat3 a:hover{
	text-decoration: none;
	color : black;
	background-color: #CCE2E0;

	-webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    border:1px outset white;
}

.cat4 a:hover{
	text-decoration: none;
	color : black;
	background-color: #CCE2E0;

	-webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    border:1px outset white;
}


/************** Personnalisation Notifications ******************/

.media-body .strong{
	color : white;
} 

.media-body{
	color : black;
}

.notification .inbox{
	height : 115px;
	/*overflow-y : scroll;*/
}

.navbar.main.navbar-primary .dropdown-toggle{
	color : white !important;
}

.navbar.main.navbar-primary .dropdown-toggle:visited{
	background-color : #03A199 !important;
}


/************************** Processing Datatable **********************/

.dataTables_processing{
	display:block !important;
	position: absolute;
	top: 50%; 
	left: 40%;
	font-size: 1.7em;
	color: black;
	border : 1px solid #999999;
	z-index: 1000;
	background-color: #F2F2F2;
}


.dropdown-toggle .menu-icon .dropdown-hover{
	background-color: #03A199;
}

.dropdown-toggle .menu-icon .dropdown-hover{
	background-color: #03A199;
}
